
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #d09066;
}




/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .navbar {
      background-color: #333;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .search-bar {
      display: flex;
      align-items: center;
    }

    .search-bar input[type="text"] {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 5px;
    }

    .search-bar button {
      padding: 8px 15px;
      border: none;
      background-color: #4CAF50;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .search-bar button:hover {
      background-color: #45a049;
    }


/* Change color on hover */
.topnav a:hover {
  background-color: #e98944;
  color: black;
}

/* Style the content */
.content {
  background-color:#f5c4c0;
  padding: 10px;
  height: 1000px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #df0c0c;
  padding: 10px;
  height: 50px;
}



